@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    border: 1px solid #1F2937 ;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #9CA3AF;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #1F2937;
  }